<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial=scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta name="author" content="Roy Mcmurphy" />
<title>Not Found   这个页面不存在</title>
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
</head>
<body>
<div>
<a href="/index"><img src="/images/LOGO.jpg" title="首页" alt="test image"></a><br>
<h1>Not Found<br></h1>
这个页面不存在
</div>
</body>
</html>
